.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: inherit!important;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus{
    background-color: inherit!important;
}

#menu{
    background: #96B7D6!important;
}
.navbar-brand{
    padding-top:5px;
}
#menu li:hover a.default{
    color: #12528f!important;
}
#menu .logo{
    height:45px;
}
#menu.navbar-default .navbar-nav>li>a{
    color:white;
}

#menu .btn-github {
    background: #444;
    border-radius: 10px !important;
}

#menu .btn-github i {
    margin-right: 5px;
    font-size: 1.2em;
}

#menu .btn-github:hover {
    background: #666 !important;
}
.search {
    position: relative;
    width:35%;
    float:right;
    margin:10px auto;
    padding-right:20px;
}

.search i {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #bbb;
    font-size: 0.9em;
}

/** CONTENT CONTAINER */
.search input {
    padding-left: 35px;
    font-size: 0.9em;
    border-radius: 20px;
    padding-bottom: 6px;
    width:100%;
    float:left;
}

.first-content {
    margin-top:80px;
    padding-top: 30px;  
}

.content .title {
    font-size: 1.8em !important;
    font-weight: bold;
    text-transform: none;
    padding-left: 0;
}
/**  END OF CONTENT CONTAINER */


/** START LIST SNIPPET */
.list-snippet{
    margin-bottom:30px;
}
.list-snippet .snippet a{
    color:inherit;
}
.list-snippet .snippet a:hover{
    text-decoration: none;
    opacity: 0.7;
}
.list-snippet .snippet a:focus{
    text-decoration: none!important;
}
.list-snippet .snippet {
    margin-bottom:13px;
    padding-left:0;
    padding-right:1%;
}

.list-snippet .snippet-content {
    padding: 20px 20px 10px;
    background: white;
}

.list-snippet .snippet-header {
    padding: 0 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.list-snippet .snippet-user {
    margin-bottom: 3px;
    font-size: 0.8em;
}

.list-snippet .snippet-title {
    margin: 0;
    font-size: 1.2em;
    margin-bottom:3px;
}

.list-snippet .snippet-title a{
    font-weight: bold;
    color:#96B7D6;
}

.list-snippet .snippet-description {
    border-bottom: 1px solid #eee;
    padding: 0 10px 10px;
}

.list-snippet .snippet-description p {
    max-height:100px;
    overflow: auto;
    font-size: 13px;
}
.list-snippet .snippet-description p::-webkit-scrollbar {
    width: 5px;
}
.list-snippet .snippet-description p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.list-snippet .snippet-description p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.list-snippet .snippet-statistic {
    padding: 10px 0 0;
    font-size: 0.85em;
}

.list-snippet .snippet-statistic.detail{
    padding:0 10px 10px;
    border-bottom:1px solid #eee;
}

.list-snippet .snippet-statistic i:not(:first-child) {
    margin-left: 5px;
}
.list-snippet .snippet-timeago {
    font-size:0.9em;
}
.list-snippet .snippet-tag {
    font-size:0.7em;
    padding:3px 10px;
    background: #333;
    color:white;
    border-radius:10px;
}

/** END OF LIST SNIPPET */

/** SNIPPET DETAIL */
.list-other-trick:first-child {
    margin-top: 30px;
}

.list-other-trick {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.list-other-trick .round-image{
    text-align: center;
}
.list-other-trick .round-image img{
    width:50px;
    height:50px;
    margin: 0 auto;
}

.other-trick-title{
    margin-bottom:10px;
    border-bottom:1px solid #eee;
    padding-bottom:10px;
}

.list-snippet .snippet-description .detail{
    height: auto!important;
}

.komentar {
    padding: 15px;
    position: relative;
    background: #efefef;
    border-radius: 15px;
    clear: both;
    margin-bottom: 10px;
}

.komentar.odd {
    background: #fafafa;
}

.komentar img {
    width: 45px;
    height: 45px;
    border-radius:100%;
    float:left;
    margin-right:10px;
}

.detail-komentar {
    margin-top: 5px;
    color: #555;
}

.komentar.form {
    background: #DCE9F5;
    margin-top: 10px;
}

.komentar.form textarea {
    font-size: 0.9em;
    height: 80px;
}

.komentar .btn{
    float:right;
    margin-top:10px
}

.komentar .btn-delete{
    position: absolute;
    top:15px;
    right: 10px;
}

.hr-komentar {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 0;
}

.user-komentar {
    padding: 0;
    margin: 0;
    height: auto;
    text-transform: none;
}

.user-komentar .timeago {
    font-weight: normal;
    font-size: 0.75em
}

p.login-warning {
    font-style: italic;
    font-size: 0.9em !important;
}


/** */

.action-snippet {
    padding: 5px;
    float: right;
    font-size: 1.3em;
}

.action-star .fa-star {
    color: yellow !important;
}

.action-star:hover .fa-star-o {
    color: yellow;
}


/** USER ADMIN PAGE */

.user-container {
    padding: 10px;
    background: white;
    margin-bottom:10px;
}

.user-github {
    font-size: 1em;
}

.user-container .user-image {
    margin: 0 auto;
}

.user-container .title {
    margin: 0;
    padding: 7px 0 5px;
}

.user-statistik {
    font-size: 0.95em;
}

.user-statistik i:not(:first-child) {
    margin-left: 7px;
}

.user-github {
    background: #444;
    padding: 3px 10px;
    font-size: 0.8em;
    color: white;
    border-radius: 20px;
}

.user-github:hover {
    color: white;
    opacity: 0.8;
    text-decoration: none;
}

.edit-user-button {
    font-size: 0.7em;
    margin-left: 5px;
    color: #333;
}

.snippet-action {
    position: absolute;
    top: 5px;
    right: 15px;
}

.btn-small {
    font-size: 0.8em;
    padding: 3px 6px;
}

.btn-round {
    border-radius: 50%;
}

.btn-round * {
    color: white;
}

.user-image {
    width: 60px;
    height:60px;
    margin-right:0;
    margin: 0 auto;
    border-radius: 100%;
}

.detail-komentar{
    font-size:0.9em;
}

/** END OF USER ADMIN PAGE */



/** GENERAL STYLE */
.round-image{
    float:left;
    margin-right: 15px;
}
.round-image,
.round-image img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.pb10{
    padding-bottom: 10px;
}
.pb20{
    padding-bottom: 20px;
}


.mgt5{
    margin-top:5px;
}

.mgr10{
    margin-right:10px
}

/** FORM */

.form-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.bootstrap-tagsinput {
    width: 100%;
}

.swal2-popup {
    font-size: 1.2em !important;
}

.swal2-modal {
    font-size: 2em;
    padding: 20px !important;
}

input.is-invalid{
    border:1px solid red;
    box-shadow:0 0 1px 1px red!important;
}





/** FRMAEWORK TAG COLOR */

.framework-icon img {
    height: 13px;
}

.tag-framework {
    margin-right: 5px
}

.tag-angular img{
    margin-top:-1px;
}

.tag-go img {
    width: 25px;
    margin-top:-2px;
    margin-left:-2px;
}

.tag-git img {
    height: 11px;
    margin-top:-1px;
    margin-left:-2px;
}